body{
    background-image: url("background.jpg");
}

.color{
    position: absolute;
    top: 640px;
    left: 600px;
}
.textBox{
    position: absolute;
    left: 800px;
    font: 16px orbitron;
    background-color: transparent;
}